.App {
    .sidebar {
        width: 16%;
        height: 100vh;
        background-color: #191D2B;
        position: fixed;
        border-right: 1px solid #2e344e;
    }

    .main-content {
        width: 84%;
        margin-left: 18%;
        background-color: #fff;
        min-height: 100vh;
        // background-image: url(../img/DSC_1035.JPG);
        display: grid;
        position: relative;
    }
}